.container-fluid {
  padding: 0;
}

#title {
  color: #fff5eb;
}

.navbar {
  background-color: #116d6e;
  /* background-color: #bad7df; */
}
.navbar-brand {
  padding-left: 5%;
}

.collapse {
  padding-left: 42%;
}

.abstract-class {
  background-color: #28b5b5;
  /* background-color: ; */
  padding: 0 5% 0 7%;
}

#intro {
  padding: 0 5% 0 7%;
  /* background-color: #f5f5f5; */
}
